.card_allList {
  width: 1120px;
  margin: 0 auto;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
}

.card_ol {
  list-style: none;
  margin-left: 0px;
  justify-content: normal;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card_li {
  margin-left: 0px;
  width: 204px;
  margin-right: 20px;
  margin-top: 20px;
  overflow: hidden;
  flex: 1 1 auto;
  text-align: center;
}

.card_poster {
  display: block;
  width: 204px;
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card_li:hover .img_thumb {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.card_thumb_item {
  display: block;
  position: relative;
  height: 298px;
  border-radius: 8px;
}

.card_poster_movie {
  position: relative;
  height: 100%;
}

.card_poster .img_thumb {
  transition: all 0.2s ease-out;
  position: relative;
  width: auto;
  min-width: 100%;
  height: 100%;
}

.card_poster .rank_num {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 13px;
  font-family: "SF-UI-Display-Thin", sans-serif;
  font-style: italic;
  font-size: 32px;
  color: #fff;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
}

.card_title {
  padding-top: 17px;
  padding-right: 8px;
  padding-bottom: 0px;
  padding-left: 8px;
}

.card_title:hover {
  text-decoration: underline;
  cursor: pointer;
}

.card_moreviewbutton {
  margin: 50px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card_moreview {
  position: relative;
  border: none;
  display: inline-block;
  padding: 15px 30px;
  border-radius: 15px;
  font-family: "paybooc-Light", sans-serif;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-weight: 600;
  transition: 0.25s;
  background-color: #fff;
  color: #000000;
  margin: 0 auto 0 auto;
}

.card_moreview:hover {
  letter-spacing: 2px;
  transform: scale(1.2);
  cursor: pointer;
}
