.detail_title_wrap {
  position: relative;
  width: 100%;
  margin: 15px 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.detail_title_wrap h2 {
  font-size: 26px;
  font-weight: bold;
  letter-spacing: -3px;
}
.detail_title_wrap .back_btn {
  display: inline-block;
  padding: 8px 10px;
  box-sizing: border-box;
  border: 1px solid #eee;
  color: #333;
  font-size: 14px;
  text-decoration: none;
}
.detail_wrap {
  position: relative;
  width: 1100px;
  margin: 0 auto;
}
.detail_cont_wrap figure {
  width: 210px;
  border-radius: 5px;
  border: 1px solid #eee;
  overflow: hidden;
  margin-right: 40px;
}
.detail_cont_wrap figure img {
  width: 100%;
}
.detail_cont_wrap {
  display: flex;
}
.detail_txt_cont {
  width: calc(100% - 250px);
  position: relative;
}
.detail_tit h2 {
  font-size: 30px;
  color: #000;
  font-weight: bold;
  margin-bottom: 6px;
}
.detail_tit p {
  display: block;
  overflow: hidden;
  margin-left: 2px;
  font-size: 16px;
  line-height: 19px;
  color: #000;
  word-break: break-all;
  white-space: nowrap;
  text-overflow: ellipsis;
  letter-spacing: -1px;
}
.detail_cont {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 25px;
}
.detail_cont .list_cont {
  display: flex;
  width: 50%;
  margin-bottom: 10px;
  line-height: 20px;
}
.detail_cont .list_cont dt {
  width: 80px;
  font-weight: normal;
  color: #98989c;
  white-space: nowrap;
}
.detail_cont .list_cont dd {
  color: #000;
  word-break: break-all;
  word-wrap: break-word;
  width: calc(100% - 80px);
}
.detail_cont .list_cont:last-child {
  position: absolute;
  bottom: 0;
  width: 100%;
}

@media (max-width: 1100px) {
  .detail_cont_wrap {
    flex-wrap: wrap;
  }
  .detail_wrap {
    width: 95%;
  }
  .detail_cont_wrap figure {
    margin: 0 auto;
    width: 320px;
  }
  .detail_txt_cont {
    width: 100%;
    margin-top: 20px;
  }
  .detail_cont .list_cont:last-child {
    position: relative;
    margin-top: 20px;
  }
  .detail_tit {
    text-align: center;
  }
}
@media (max-width: 680px) {
  .detail_cont .list_cont {
    width: 100%;
  }
}
