/* 전체 적용 */
.review {
  background-color: white;
  width: 810px;
  margin: auto;
}

/* 리뷰 요약 */
.review_title_wrapper {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.review_title_wrapper > span {
  margin: 2.5px;
}

.review_title_text {
  font-size: 30px;
  font-weight: bold;
}

.review_avg_star_score {
  color: red;
  font-size: 30px;
}

.review_count_review {
  color: gray;
  font-size: 22.5px;
}

/* 별점 */
.review_star_grade_wrapper {
  display: flex;
  align-items: center;
}

.hidden_radio {
  display: none;
}

.custom_star {
  width: 30px;
  height: 30px;
  margin: 0 2px;
  background-size: cover;
  display: inline-block;
  cursor: pointer;
}

#star1 + .custom_star {
  background-image: url("/contents/star1_n.png");
}

#star2 + .custom_star {
  background-image: url("/contents/star1_n.png");
}

#star3 + .custom_star {
  background-image: url("/contents/star1_n.png");
}

#star4 + .custom_star {
  background-image: url("/contents/star1_n.png");
}

#star5 + .custom_star {
  background-image: url("/contents/star1_n.png");
}

#review_select_star_grade {
  font-size: 20px;
  margin: 0 5px;
}

/* 댓글 작성 */
hr {
  width: 100%;
  height: 1px; /* 선의 굵기 */
  border: none;
  background-color: rgb(200, 200, 200); /* 선의 색상 */
}
.review_write_comment_wrapper {
  width: 100%;
  margin: auto;
}

.review_write_etc_wrapper {
  display: flex;
  justify-content: flex-end;
}

.review_write_etc_wrapper * {
  margin: 10px 5px 5px 5px;
  height: 25px;
}

.review_write_etc_wrapper input {
  border: none; /* 기본 테두리 제거 */
  border-bottom: 1px solid gray;
  width: 100px;
}

.review_write_comment {
  resize: none;
  width: 100%;
  font-size: 17.5px;
  border: 0px solid white;
}

.review_write_comment:focus {
  outline: none;
}

#submit_btn {
  width: 75px;
  height: 30px;
  background-color: rgb(220, 220, 220);
  font-size: 12.5;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 댓글 조회 */
.review_list {
  padding: 0;
  margin: 0;
}

.review_list > li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.review_comment_wrapper {
  border-bottom: 1px solid rgb(200, 200, 200);
}
.review_comment_box {
  margin: 15px 0;
}

.review_comment_box_header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.review_comment_date {
  color: gray;
}

.review_comment_id {
  color: navy;
  font-weight: bold;
  font-size: 17.5px;
}

.review_edit_wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
}

.review_edit_btn_wrapper {
  width: 75px;
  height: 70px;

  position: absolute;
  top: 25px;
  right: 0;

  display: none;
  flex-direction: column;
  border: 1px solid black;
}

.review_edit_btn {
  width: 25px;
  height: 25px;
}

.review_edit_btn > img {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.review_modal_edit_btn {
  margin: 5px 0px;
  width: 75px;
  height: 25px;

  background-color: white;
  border: none;

  z-index: 100;
}

.review_modal_delete_btn {
  width: 75px;
  height: 25px;
  margin: 5px 0px;
  background-color: white;
  border: none;

  z-index: 100;
}
/*

.cmt_netizen .alex_single .ratings:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 14px;
    background: url(https://t1.daumcdn.net/movie/images/pc/ico_stargrade.png) 0 -20px no-repeat;
    content: '';
}

.cmt_netizen .alex_single .ratings {
    position: relative;
    width: 100px;
    height: 14px;
    padding-left: 80px;
    margin-bottom: 14px;
    font-family: 'Helvetica Neue',sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    background: url(https://t1.daumcdn.net/movie/images/pc/ico_stargrade.png) 0 0 no-repeat;
}
*/
