/* 전체 적용 */
.review {
  background-color: white;
  width: 810px;
  margin: auto;
  margin-bottom: 100px;
}

/* 리뷰 요약 */
.review_title_wrapper {
  display: flex;
  align-items: center;
  padding: 15px 0;
}

.review_title_wrapper > span {
  margin: 2.5px;
}

.review_title_text {
  font-size: 30px;
  font-weight: bold;
}

.review_avg_star_score {
  color: red;
  font-size: 30px;
}

.review_count_review {
  color: gray;
  font-size: 22.5px;
}

.review_line {
  margin-top: 30px;
}

/* 댓글 작성 */
.review_comment_line {
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgb(200, 200, 200);
}

.review_write_comment_wrapper {
  width: 100%;
  margin: auto;
}

.review_write_etc_wrapper {
  display: flex;
  justify-content: flex-end;
}

.review_write_etc_wrapper * {
  margin: 10px 5px 5px 5px;
  height: 25px;
}

.review_etc_input {
  border: none; /* 기본 테두리 제거 */
  border-bottom: 1px solid gray;
  width: 100px;
}

.review_write_comment {
  resize: none;
  width: 790px;
  font-size: 17.5px;
  border: 1px solid gray;
  padding: 10px;
}

.review_write_comment:focus {
  outline: none;
}

.review_etc_input:focus {
  outline: none;
}

.submit_btn {
  width: 50px;
  height: 25px;
  background-color: rgb(220, 220, 220);
  font-size: 12.5;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* 댓글 조회 */
.review_list {
  padding: 0;
  margin: 0;
}

.review_list > li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.review_comment_wrapper {
  border-bottom: 1px solid rgb(200, 200, 200);
}
.review_comment_box {
  width: 97.5%;
  margin: 15px auto;
}

.review_comment_date {
  color: gray;
}

.review_comment_id {
  color: navy;
  font-weight: bold;
  font-size: 17.5px;
}

.review_comment_text {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  line-height: 25px;
}

.reivew_count_zero {
  margin-top: 50px;
  text-align: center;
}
