body{
    background-color: gray;
}

.review {
    background-color: white;
    margin: auto;
    width: 810px;
}

.review_review_container {
    border: 1px solid blue;
}

.review_review_write_box{
    width: 90%;
}