/* 최상단 띄배너 영역 */
.search_banner {
  position: relative;
  border-top: 10px solid #222;
  background-color: #222;
}

/* 띠배너 안 타이틀 내용 */
.search_title {
  color: white;

  display: block;
  position: relative;
  height: 38px;
  width: auto;

  padding: 17px 29px 0;
  text-align: center;
  text-decoration: none;

  cursor: pointer;
}

/* 검색창 부분 */
.search_box {
  height: 40px;
  width: 35%;

  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #222;

  margin: 20px auto 20px auto;
}

.search_input {
  display: block;
  width: 100%;
  height: 100%;
  border: 0 none;
  border-bottom: 2px solid #222;
  outline: 0 none;
  font-weight: 100;
  font-size: 18px;
  color: #000;
}

.search_Btn {
  border: 0 none;
  background-color: transparent;
  cursor: pointer;

  width: 45px;
  height: 100%;
}

/* 랭킹 메인보드 부분 */
.rank_mainBoard {
  position: relative;
  max-width: 1960px;
  height: 730px;
  margin: 20px auto 20px;
  color: aliceblue;
}

.rank_mainBoardImg {
  position: absolute;
  margin-top: -15px;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: brightness(0.6);
}

.mainRankCnt {
  width: 1120px;
  height: 80%;

  margin: 30px auto 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mainRankTitle {
  font-size: 44px;
  font-weight: bold;
  margin-bottom: 20px;
  z-index: 1;
}

.mainRankOverview {
  font-size: 14px;

  max-width: 45%;
  max-height: min-content;

  margin-bottom: 20px;
  z-index: 1;
}

.mainRankBtn {
  width: 100px;
  height: 30px;

  border: none;
  border-radius: 3px;
  cursor: pointer;

  opacity: 1;
  transition: opacity 0.3s;
  z-index: 1;
}

.mainRankBtn:hover {
  opacity: 0.75;
}

.rankWrap {
  margin: -256px auto 50px;
  width: 1120px;

  list-style: none;

  display: flex;
  flex-direction: row;
}

.rankCard .img_thumb {
  border-radius: 10px;
}

.rankCard:hover {
  transform: translateY(-10px);
  transition: transform 0.5s ease;
}

.rankCard:hover .img_thumb {
  transform: scale(1);
  transition: transform 0.5s ease;
}
